$green: #00A36C;
$l_blue: #ADD8E6;
$d_blue: #7393B3;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    margin-left: 10px;
    font-size: 20px;
}
h1{
    font-weight: bold;
    font-size: 36px;
    margin-top: 10px;
}
p{
    margin-top: 10px;
}
ul {
    list-style: none;
    margin-top: 20px;
  }
  
  li {
    margin-left: 25px;
    font-weight: 500;
  }
  
  li:before {
    content: "+";
    line-height: 1.2;
    background-color: $green;
    color: white;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 50px;
    margin-right: 10px;
  }

  table{
    margin-top: 10px;
  }

  td, th{
    border: 1.4px solid gray;
    padding: 8px
  }
  th{
    border-bottom: 4px solid $d_blue;
    padding: 4px;
  }
  th{
    background-color: $l_blue;
    color: white;
    font-weight: bold;
  }
  th:first-child, th:last-child{
    border-radius: 50px;
  }
  tr{background-color: #f2f2f2;}
  td{
    min-width: 150px;
  }
  td:first-child{
    min-width: 300px;
    justify-self: center;
  }

  fieldset{
    width: 400px;
  }
  legend{
    font-style: italic;
  }
  input[type="text"], select {
    border: solid 1px silver;
  }
  input[type="radio"] {
    margin: 0px;
    padding: 0px;
  }
  div{
    display: inline;
    label{
        display: inline-block ;
        width: 200px;
    }
  }

   input[type=submit] {
    background-color: darkgreen;
    color: white;
    padding:7px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 340px;
    margin-top: 10px;
    border-radius: 25px;
    border: solid 4px gray;
  }
 
  